h2 Manage Account
.ej-tabs
  .container
    ul
      li
        a href="#account-info" Account Info
      li
        a href="#delivery" Delivery
      li
        a href="#frequency" Frequency
  #account-info
    .container
      .form.centerme
        h3 Username / Password
        .row.cgrid.compact
          label for="username" Username
          input#username name="username" type="text"
        .row.cgrid.compact
          label for="userpassword" Password
          input#userpassword name="userpassword" type="password"
        .row.cgrid.compact
          label for="userpassword-repeat" Confirm Password
          input#userpassword-repeat name="userpassword-repeat" type="password"
        .button-row.cgrid
          .button.primary
            .text Save
            input type="submit" value="Save"
          .button
            .text I forgot my password
            input type="submit" value="I forgot my password"
  #delivery
    .container
      / .header
      /         h3 Specify Delivery Address
      /         a.button.primary href="#" Add new
      /       .form
      /         ul.cgrid.button-set
      /           - 3.times do |i|
      /             li class="#{"active" if i==0}"
      /               - checked =  (i==0 ? {checked: 'checked'} : {})
      /               input type="radio" id="address#{i}" name="address" *checked
      /               label for="address#{i}" Ship to this address
      /               p.address
      /                 | Giles Dickerson
      /                 br
      /                 | 346 HAROLD ST
      /                 br
      /                 | Staten Island, NY 10314-4147
      /                 br
      /                 | United States
      /                 br
      /                 | Phone: 9173021682
        
  #frequency
    .container

#add-address-modal.ej-modal title="Add An Address To Your Account"
  .form
    .row.cgrid.compact
      label for="user-name" Full Name
      input#user-name name="user-name" type="text" value="Randy Brandoff"
    .row.cgrid.compact
      label for="user-name" Address1
      input#user-name name="user-name" type="text" value="Street Name"
    .row.cgrid.compact
      label for="user-name" Address2
      input#user-name name="user-name" type="text" value="Aprtment 3"
    .row.cgrid.compact
      label for="user-name" City
      input#user-name name="user-name" type="text" value="Manhattan"
    .row.cgrid.compact
      label for="user-name" State
      input#user-name name="user-name" type="text" value="NY"
    .row.cgrid.compact
      label for="user-name" Zip
      input#user-name name="user-name" type="text" value="11201"
    .row.cgrid.compact
      label for="user-name" Phone
      input#user-name name="user-name" type="text" value="917 343 7291"
    .button-row.cgrid
      .button.primary
        .text Submit
        input type="submit" value="Submit"
      .button.button-close
        .text Cancel