.header
  .container
    h2
      em the collection
      small
        |  / 
      | Rolex sea-dweller deepsea
    .back-link
      | back to 
      a href="#" The Collection
.content
  .container.cgrid.compact
    .photo-slider
      ul.bjqs
        li
          .image
            img alt="" src="/assets/temp/E1.jpg"
            a.zoom href="#"
        li
          .image
            img alt="" src="/assets/temp/E2.jpg"
            a.zoom href="#"
        li
          .image
            img alt="" src="/assets/temp/E3.jpg"
            a.zoom href="#"
        li
          .image
            img alt="" src="/assets/temp/E4.jpg"
            a.zoom href="#"
      ol.bjqs-markers.h-centered.real style="left: 0px; "
        li.active-marker
          a href="#"
            img alt="" src="/assets/temp/E1.jpg"
        li
          a href="#"
            img alt="" src="/assets/temp/E2.jpg"
        li
          a href="#"
            img alt="" src="/assets/temp/E3.jpg"
        li
          a href="#"
            img alt="" src="/assets/temp/E4.jpg"
    .ej-tabs data-active="2"
      ul
        li
          a href="#info" Info
        li
          a href="#comments" Member Comments
      #info
        .cgrid.compact.info-section
          .info
            p.name Rolex
            p.make Sea Dweller Deepsea
            p Movement: Rolex Automatic
            p Case: 43mm
            p Retail: $12,050.00
          .tag.cgrid
            .circle Artisan
            .circle.double-line.primary
              | Newly
              br/
              | Added
        p.desc
          | The Rolex Deepsea was designed for extreme underwater exploration. An intricate three-piece case architecture, the Ringlock System, enables it to withstand the colossal pressure at depths of up to 3,900 metres (12,000 feet). The Rolex Deepsea has a bezel inlaid with a virtually scratch resistant black Cerachrom disc  and a titanium caseback. The Rolex Deepsea is also equipped with a unique bracelet, featuring a double extension system for a perfect fit over any diving suit.
        .cgrid.compact.actions-section
          .button-row.not-centered.cgrid
            a.button.add href="#" + Add
            a.button href="#" Buy
          ul.cgrid.social-media.black-version
            li.alpha
              a.facebook href="#facebook"
            li
              a.twitter href="#twitter"
            li
              a.pinterest href="#pinterest"
            li.omega
              a.gplus href="#glpus"
      #comments
        .container
          .cgrid.comment-info
            p 27 Members Have Commented on this Timepiece
            a.comment-button.button href="#" Add Comment
          h3 Most helpful Reviews
          .review.cgrid
            .user
              p.name Swissinator
              p Silver Membership
            .review-body
              ul
                li.cgrid
                  p.label Fit & Wearability
                  ul.rating.cgrid
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a href="#"
                li.cgrid
                  p.label Excitement
                  ul.rating.cgrid
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a href="#"
                li.cgrid
                  p.label Accuracy
                  ul.rating.cgrid
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a href="#"
                    li
                      a href="#"
                    li
                      a href="#"
                  li.cgrid
                    p.label Wear Again?
                    ul.rating.cgrid
                      li
                        a.fill href="#"
                      li
                        a.fill href="#"
                      li
                        a.fill href="#"
                      li
                        a href="#"
                      li
                        a href="#"
              img alt="" src="/assets/temp/F1.jpg"
              p.text Torner, garnier nuls ce, qui de. Lor ne la et je deporter et au de lor mangié me le blondet la ne prester mauvais ne despendre. De moi chapelet blondet qui cointelet ou de covient chantent sanz l'autr'ier. En vuet, despendre tout demander quel hons selon sanz bien adès. Soit mais muset lors au ferai? Doit mainte, point s'il en de en moi adonc d'un doner on qu'adés voit en joie, haste et.
              p.block 7 of 18 members found this review helpful
              p You found this review:
              .button-row.not-centered.cgrid
                a.button href="#" Helpful
                a.button href="#" Not Helpful
          .review.cgrid
            .user
              p.name Swissinator
              p Silver Membership
            .review-body
              ul
                li.cgrid
                  p.label Fit & Wearability
                  ul.rating.cgrid
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a href="#"
                li.cgrid
                  p.label Excitement
                  ul.rating.cgrid
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a href="#"
                li.cgrid
                  p.label Accuracy
                  ul.rating.cgrid
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a href="#"
                    li
                      a href="#"
                    li
                      a href="#"
                  li.cgrid
                    p.label Wear Again?
                    ul.rating.cgrid
                      li
                        a.fill href="#"
                      li
                        a.fill href="#"
                      li
                        a.fill href="#"
                      li
                        a href="#"
                      li
                        a href="#"
              p.text Torner, garnier nuls ce, qui de. Lor ne la et je deporter et au de lor mangié me le blondet la ne prester mauvais ne despendre. De moi chapelet blondet qui cointelet ou de covient chantent sanz l'autr'ier. En vuet, despendre tout demander quel hons selon sanz bien adès. Soit mais muset lors au ferai? Doit mainte, point s'il en de en moi adonc d'un doner on qu'adés voit en joie, haste et.
              p.block 7 of 18 members found this review helpful
              p You found this review:
              .button-row.not-centered.cgrid
                a.button href="#" Helpful
                a.button href="#" Not Helpful
            /! End review-body
          /! End review
          h3 Recent Reviews
          .review.cgrid
            .user
              p.name Swissinator
              p Silver Membership
            .review-body
              ul
                li.cgrid
                  p.label Fit & Wearability
                  ul.rating.cgrid
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a href="#"
                li.cgrid
                  p.label Excitement
                  ul.rating.cgrid
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a href="#"
                li.cgrid
                  p.label Accuracy
                  ul.rating.cgrid
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a href="#"
                    li
                      a href="#"
                    li
                      a href="#"
                li.cgrid
                  p.label Wear Again?
                  ul.rating.cgrid
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a href="#"
                    li
                      a href="#"
              p.text Torner, garnier nuls ce, qui de. Lor ne la et je deporter et au de lor mangié me le blondet la ne prester mauvais ne despendre. De moi chapelet blondet qui cointelet ou de covient chantent sanz l'autr'ier. En vuet, despendre tout demander quel hons selon sanz bien adès. Soit mais muset lors au ferai? Doit mainte, point s'il en de en moi adonc d'un doner on qu'adés voit en joie, haste et.
              p.block 7 of 18 members found this review helpful
              p You found this review:
              .button-row.not-centered.cgrid
                a.button href="#" Helpful
                a.button href="#" Not Helpful
          .review.cgrid
            .user
              p.name Swissinator
              p Silver Membership
            .review-body
              ul
                li.cgrid
                  p.label Fit & Wearability
                  ul.rating.cgrid
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a href="#"
                li.cgrid
                  p.label Excitement
                  ul.rating.cgrid
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a href="#"
                li.cgrid
                  p.label Accuracy
                  ul.rating.cgrid
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a href="#"
                    li
                      a href="#"
                    li
                      a href="#"
                li.cgrid
                  p.label Wear Again?
                  ul.rating.cgrid
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a.fill href="#"
                    li
                      a href="#"
                    li
                      a href="#"
              p.text Torner, garnier nuls ce, qui de. Lor ne la et je deporter et au de lor mangié me le blondet la ne prester mauvais ne despendre. De moi chapelet blondet qui cointelet ou de covient chantent sanz l'autr'ier. En vuet, despendre tout demander quel hons selon sanz bien adès. Soit mais muset lors au ferai? Doit mainte, point s'il en de en moi adonc d'un doner on qu'adés voit en joie, haste et.
              p.block 7 of 18 members found this review helpful
              p You found this review:
              .button-row.not-centered.cgrid
                a.button href="#" Helpful
                a.button href="#" Not Helpful
          .pagination.cgrid.button-row.compact
            span.disabled.previous_page <&nbsp;&nbsp;&nbsp;Previous
            em.current 1
            a href="./?page=2" rel="next" 2
            a href="./?page=3" 3
            a href="./?page=4" 4
            a href="./?page=5" 5
            a href="./?page=6" 6
            span.gap …
            a href="./?page=29" 29
            a.next_page href="./?page=2" rel="next" Next&nbsp;&nbsp;&nbsp;>