#homepage-slider
  ul.slider.bjqs
    li
      .cgrid
        img alt="" src="/assets/slides/1.jpg"
        .info
          .decorated-block
            p.label New Addition
            p.name
              | Patek
              br
                | Philippe
            p.highlight Aquanaut
          .button-row.cgrid
            a.button.primary href="#" + Add
            a.button href="#" Info
    li
      .cgrid
        img alt="" src="/assets/slides/2.jpg"
        .info
          .decorated-block
            p.label New Addition
            p.name
              | Patek
              br
                | Philippe
            p.highlight Aquanaut
          .button-row.cgrid
            a.button.primary href="#" + Add
            a.button href="#" Info
    li
      .cgrid
        img alt="" src="/assets/slides/3.jpg"
        .info
          .decorated-block
            p.label New Addition
            p.name
              | Patek
              br
                | Philippe
            p.highlight Aquanaut
          .button-row.cgrid
            a.button.primary href="#" + Add
            a.button href="#" Info
    li
      .cgrid
        img alt="" src="/assets/slides/4.jpg"
        .info
          .decorated-block
            p.label New Addition
            p.name
              | Patek
              br
                | Philippe
            p.highlight Aquanaut
          .button-row.cgrid
            a.button.primary href="#" + Add
            a.button href="#" Info
.more-links
  ul.cgrid.compact.container
    li.new
      h4.decorated-block New to the collection
      img alt="" src="/assets/temp/A1.jpg"
      .info
        p.name Rolex
        p Daytona Stainless
        a.button href="#" + Add
    li.upcoming
      h4.decorated-block Upcoming Event
      img alt="" src="/assets/temp/A2.jpg"
      .info
        p Meet Mike Tyson
        p Atlantic City, Friday March 22, 2013
        a.button href="#" + Add
    li.news
      h4.decorated-block In the news
      img alt="" src="/assets/temp/A3.jpg"
      .info
        p 11 James Featured In GQ,
        p April 2013
        a.button href="#" Read
        
#signin-modal.ej-modal title="Welcome Please Signin Into Your Account" data-width="538" data-open="false"
  .form
    .row.cgrid.compact
      label Username
      input type="text"
    .row.cgrid.compact
      label Password
      input type="password"
    .button-row.cgrid
      a.button.primary href="#" Login
      a.button href="#" I forgot my password


coffee:
  $("a.account").click ->
    $("#signin-modal").dialog "open"