h2 Timepieces
.filters.form
  .container
    .cgrid.compact.row
      label for="brand" Brand
      .select-wrapper.brand.field
        .value
        .arrow.red
        select#brand name=""
          option value="0" Breitling
          option value="1" Breitling 1
          option value="2" Breitling 2
          option value="3" Breitling 3
      label for="tier" Tier
      .select-wrapper.tier.field
        .value
        .arrow.red
        select#tier name=""
          option value="0" Tier
          option value="1" Tier 1
          option value="2" Tier 2
          option value="3" Tier 3
      label for="type" Type
      .select-wrapper.type.field
        .value
        .arrow.red
        select#type name=""
          option value="0"  Any
          option value="1"  Any 1
          option value="2"  Any 2
          option value="3"  Any 3
      label for="band" band
      .select-wrapper.band.field
        .value
        .arrow.red
        select#band name=""
          option value="0"  Band
          option value="1"  Band 1
          option value="2"  Band 2
          option value="3"  Band 3
      label for="face" Face
      .select-wrapper.face.field
        .value
        .arrow.red
        select#Face name=""
          option value="0" Face
          option value="1" Face 1
          option value="2" Face 2
          option value="3" Face 3
      label for="width" Width
      .select-wrapper.width.field
        .value
        .arrow.red
        select#width name=""
          option value="0" Width
          option value="1" Width 1
          option value="2" Width 2
          option value="3" Width 3
      a.action href="#" Reset All
#listing-layout
  .listing
    .container
      ul.cgrid.compact
        - 4.times do
          li
            img alt="" src="/assets/temp/D1.jpg"
            .info
              p.name Rolex
              .make
                | Daytona Stainless
              .button-row.cgrid
                a.button.add href="#" + Add
                a.button href="#" Info
        li
          img alt="" src="/assets/temp/D1.jpg"
          .info
            p.name Rolex
            .make
              | Daytona Stainless
            .button-row.cgrid
              a.button.upgrade href="#" Upgrade
              a.button href="#" Info