h2 Member Signup
.form
  .container
    ul
      li.section.step1
        .header
          .cgrid.compact
            .bullet Step 1
            h3 Choose how many months of the year you would like to access the collection…
        .cgrid.compact.dual-radio
          .month12
            input#months-12 name="months" type="radio"
            label for="months-12" 12 months of timepieces per year
            p.desc
              | You will have a watch from us for every month of the year. You can exchange watches monthly or bi-monthly.
          .month6
            input#months-6 name="months" type="radio"
            label for="months-6" 6 months of timepieces per year
            p.desc
              | You will have a watch from the collection for six of the twelve months of the year. You will control your calendar and can retain each watch for one or two months.
      /! End step1 content
      li.section.step2
        .header
          .cgrid.compact
            .bullet Step 2
            h3 Choose the Timepiece Collection that best suits you...
        .cgrid
          .alpha.level1.level
            h5 Level1
            .title.cgrid
              input#collection-1 name="collection" type="radio"
              label for="collection-1" Artisan
              .price $250mo
            p.desc
              | Timepieces with an average value of
              br/
              | $10,000
            .static-slider
              ul.bjqs
                li
                  img alt="" src="/assets/temp/B1.jpg"
                  .info
                    p.name Rolex
                    p.make Daytona
                li
                  img alt="" src="/assets/temp/B2.jpg"
                  .info
                    p.name Audemars piguet
                    p.make Royal Oak Chronograph
                li
                  img alt="" src="/assets/temp/B3.jpg"
                  .info
                    p.name Patek Phillipe
                    p.make Sky Moon Tourbillon
          /! End Level 1
          .level2.level
            h5 Level 2
            .title.cgrid
              input#collection-2 name="collection" type="radio"
              label for="collection-2" Technician
              .price $463mo
            p.desc
              | Timepieces with an average value of $20,000
              br/
              | + All timepieces from level 1
            .static-slider
              ul.bjqs
                li
                  img alt="" src="/assets/temp/B2.jpg"
                  .info
                    p.name Audemars piguet
                    p.make Royal Oak Chronograph
                li
                  img alt="" src="/assets/temp/B1.jpg"
                  .info
                    p.name Rolex
                    p.make Daytona
                li
                  img alt="" src="/assets/temp/B3.jpg"
                  .info
                    p.name Patek Phillipe
                    p.make Sky Moon Tourbillon
          /! End Level 2
          .level3.level.omega
            h5 Level 3
            .title.cgrid
              input#collection-3 name="collection" type="radio"
              label for="collection-3" Master Craftsman
              .price $925mo
            p.desc
              | Timepieces with an average value of
              | $40,000
              br/
              | + All timepieces from levels 1 & 2
            .static-slider
              ul.bjqs
                li
                  img alt="" src="/assets/temp/B3.jpg"
                  .info
                    p.name Patek Phillipe
                    p.make Sky Moon Tourbillon
                li
                  img alt="" src="/assets/temp/B1.jpg"
                  .info
                    p.name Rolex
                    p.make Daytona
                li
                  img alt="" src="/assets/temp/B2.jpg"
                  .info
                    p.name Audemars piguet
                    p.make Royal Oak Chronograph
          /! End Level 3
      /! End step2 content
      li.section.step3
        .header
          .cgrid.compact
            .bullet Step 3
            h3 Choose your billing cycle...
        .cgrid.dual-radio.compact
          .month12
            input#months-1 name="billing" type="radio"
            label for="months-1" 1 Annual Charge of  $10,000
            p.desc
              | This option gives you a savings of $1000 per year.
          .month6
            input#months-2 name="billing" type="radio"
            label for="months-2" Monthly Charges of $925
            p.desc
              | If you elect to pay monthly, you will pay three months of membership upfront, and then you will be charged monthly thereafter on the first of every month.
      /! End step3 content
      li.section.step4
        .header
          .cgrid.compact
            .bullet Step 4
            h3
              | Make payment arrangements for your
              em 6 Months of Master Craftsman
              | timepiece service...
        .cgrid.compact
          .billing-info
            h5 Billing Information
            .form
              .row.cgrid.compact
                label for="billing-first-name"
                  | First Name
                  sup *
                input#billing-first-name name="" type="text"
              .row.cgrid.compact
                label for="billing-last-name"
                  | Last Name
                  sup *
                input#billing-last-name name="" type="text"
              .row.cgrid.compact
                label for="billing-address"
                  | Address
                  sup *
                input#billing-address name="" type="text"
              .row.cgrid.compact
                label for="billing-apt-unit"
                  | Apt / unit
                  sup *
                input#billing-apt-unit name="" type="text"
              .row.cgrid.compact
                label for="billing-city"
                  | City
                  sup *
                input#billing-city name="" type="text"
              .row.cgrid.compact
                label for="billing-state"
                  | state
                  sup *
                .select-wrapper.field
                  .value New York
                  .arrow
                  select#billing-state name=""
                    option value="1"
                    option value="2"
                    option value="3"
              .row.cgrid.compact
                label for="billing-zip"
                  | zip
                  sup *
                input#billing-zip name="" type="text"
              .row.cgrid.compact
                label for="billing-phone"
                  | phone
                  sup *
                input#billing-phone name="" type="text"
          /! End billing
          .shipping-info
            .overlay
            h5 Shipping Information
            .form
              .row.cgrid.compact
                label for="shipping-first-name"
                  | First Name
                  sup *
                input#shipping-first-name name="" type="text"
              .row.cgrid.compact
                label for="shipping-last-name"
                  | Last Name
                  sup *
                input#shipping-last-name name="" type="text"
              .row.cgrid.compact
                label for="shipping-address"
                  | Address
                  sup *
                input#shipping-address name="" type="text"
              .row.cgrid.compact
                label for="shipping-apt-unit"
                  | Apt / unit
                  sup *
                input#shipping-apt-unit name="" type="text"
              .row.cgrid.compact
                label for="shipping-city"
                  | City
                  sup *
                input#shipping-city name="" type="text"
              .row.cgrid.compact
                label for="shipping-state"
                  | state
                  sup *
                .select-wrapper.field
                  .value New York
                  .arrow
                  select#shipping-state name=""
                    option value="1"
                    option value="2"
                    option value="3"
              .row.cgrid.compact
                label for="shipping-zip"
                  | zip
                  sup *
                input#shipping-zip name="" type="text"
              .row.cgrid.compact
                label for="shipping-phone"
                  | phone
                  sup *
                input#shipping-phone name="" type="text"
          /! End shipping info
          .card-info
            h5 Visa, Mastercard, Amex or Discover
            .form
              .row.cgrid.compact
                label for="card-num"
                  | Card #
                  sup *
                input#card-num name="" type="text"
              .row.cgrid.compact
                label for="card-expiry-month"
                  | Expiration
                  sup *
                .field.cgrid.compact.card-expiry
                  .select-wrapper.card-expiry-month
                    .value 1
                    .arrow
                    select id="" name="card-expiry-month"
                      option value="1"
                      option value="2"
                      option value="3"
                  .select-wrapper
                    .value 2013
                    .arrow
                    select id="" name="card-expiry-year"
                      option value="2013"
                      option value="2014"
                      option value="2015"
              .row.cgrid.compact.card-ccv
                label for="card-ccv-1"
                  | CCV
                  sup *
                .field.cgrid.compact
                  input#card-ccv-1.card-ccv-1 name="" type="text"
                  .sep
                  input#card-ccv-2.card-ccv-2 name="" type="text"
              .row.cgrid.compact.card-ssn
                label for="card-ssn"
                  | Social Security #
                  sup *
                .field.compact.cgrid
                  input#card-ssn-1.card-ssn-1 name="" type="text"
                  .sep
                  input#card-ssn-2.card-ssn-2 name="" type="text"
                  .sep
                  input#card-ssn-3.card-ssn-3 name="" type="text"
              .checkbox-row.shipping-billing-same
                input#shipping-billing-same name="shipping-billing-same" type="checkbox"
                label.small-checkbox for="shipping-billing-same" my shipping and billing information are the same
          .final
            h5  
            .summary.cgrid.compact
              .label monthly charges beginning today
              .value $925.00
            .checkbox-row.cgrid.compact
              input#send-promotional-email name="" type="checkbox"
              label.small-checkbox for="send-promotional-email"  send me promotional email &amp; news
              .button.submit
                .text Join
                input type="submit" value="Join"
      /! End step4 content
.ej-modal data-class="signup-terms-modal" data-width="939" title="membership terms & Agreement"
  .text
    p Fait en acroire cler colin puis, boissonet après chaponet? Me qui tot doie regret saucelet flajolet vert deduire ferai puis. Colin il joliet aimme a. Damoisele n'ai et saucelet despendre en au en chapelet et flajoler, chief et a.
    p Chief loer doner, en chaponet gai veuil blondete qu'adés me par vie s'alai d'amors bone. Li, ne a porter damoisele et troter lors tel, sejorner ce porter, blondete selon flajoler quel ovrer en. Cuer flajoler faire en flajoler m'estuet honiz prens lor, vie torner ensi. Chaponet bien s'entremet porter au vert, chapelet chantent trover, lasser n'en en et me deporter li me ferai. Qu'adés chapelet chief, rossignolet de. Trover vergier je a sovient de me cointelet maint un, lors bel ensi tout cler, tout ai li. Endeter qu'il, laira pas je un vis un s'il chapelet veuil lors s'entremet chapelet, vuet cuer. Maint blondet loer vergier garnier et mon fleur?
    p La demander, prester blondete de, met vuet chantent le cent sanz donrai. Joliet a tel et li, donrai demander mon a. Si d'amors et par, doie mon, amer de et la amer. M'esveillerent bien saucelet vi ovrer. En amer me, chief puet en ou, d'un de blondet cler matinet. Mon faire de covient haste praelet et en ou, roncin l'en honiz les de saucelet honiz met deduire sanz s'entremet.
    p Aimme acroire selon maint mauvais por boissonet veuil je mener en tout a au s'il garnier et s'entremet cure en et boissonet praelet. Me joie doie un qu'il vis le en chaponet sanz, deporter qu'il hoste regret de. Sanz, a qu'adés ferai cent en aimme qu'il en mauvais par blondet s'entremet mainte tanz, a vis celui acroire. Saucelet, tient puis amer bien l'autr'ier por ensi faire vuet, deporter roncin mon un m'esveillerent, tout je, mangié gai lor, mai n'en. Soit de loer blondete un je pas flajolet, faintise on qui bon cuer deduire, vuet aimme nuls la. Matinet de mangié le il oiselet regret adonc l'autr'ier.
    p Chapelet flajolet en amer a et a me en. Boissonet chantent qu'il fait tel, me chief qu'il fait selon m'estuet saucelet roncin. Saucelet despendre maint quel endeter mai roncin en prens s'alai le por nuls fleur a despendre li en tel. D'amors le en qu'il tient prester chief, fait chaponet deduire, vis chapelet ai despendre mener je mon vis et si en muset faire hutiner honiz por tout un blondete tel li sanz faintise li. Bien a s'ai flajolet por un mauvais guiler lor nuls vis fait et. En et qu'il doit ensi loer demander flajoler en qui seignor covient bien ensi de vergier, en et vis l'autr'ier qu'il.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.