=render('admin/inventory/record_forms/transit')

=simple_form_for [:admin, @status], :html => {:class => 'transit_form'} do |f|
  label for='courier_id' Courier
  = f.collection_select "courier_id", User.with_role(:courier), :id, :name, :label => "Courier", :include_blank => true
