/*Generic*/
.container, .centerme {
	margin:0 auto;
}
.button {
	position:relative;
	overflow:hidden;
}
.button input {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-25em;
	margin-left:-50em;
	width:100em;
	height:50em;
	display:block;
	-webkit-appearance:button;
	cursor:pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Good browsers */
  opacity: 0;
}

h1, h2, h3, h4, h5, h6 {
	text-align:center;
	font-family:dinnLC;
}

.dynamic-centered {
	margin:0 auto;
}

.decorated-block {
	text-align:center;
}
.decorated-block:before, .decorated-block:after {
	content: " ";
	display:block;
	width:12px;
	height:6px;
	background-color:#a3a197;
	margin:0 auto;
}
.decorated-block:before {
	margin-bottom:20px;
}
.decorated-block:after {
	margin-top:20px;
}

.rhino-btn {
	background:url(../images/slider-arrows.png) 0 0 no-repeat;
	width:22px;
	height:40px;
}

/*Layout*/
#site-header {
	background-color:#000;
	padding-top:100px;
	padding-bottom:40px;
	color: white;
}
#site-header p {
	text-transform:uppercase;
	text-align:center;
	font-size:22px;
	line-height:34px;
	font-family:dinnLC;
	letter-spacing: 6px;
}
#site-logo {
	display:block;
	margin:0 auto 50px;
	width:296px;
}

#site-content {
	background-color:#FFF;
}

#site-footer {
	background-color:#f6f5f4;
	border-top:1px solid #e8e7e7;
}

#site-footer .container {
	width:960px;
	padding:16px 0;
	text-align:right;
	font-size:14px;
	color:#a3a197;
	font-family:Arial;
	font-weight:bold;
}

.internal-page .container {
	width:1084px;
}

.internal-page #site-header {
	padding:20px 0;
}

.internal-page #site-header #site-logo {
	margin:0;
	width:auto;
}

.internal-page #site-header #site-nav {
	float:right;
}

.internal-page #site-header #site-nav li {
	margin:0 15px;
}
.internal-page #site-header #site-nav a {
	color:#FFF;
	text-decoration:none;
	font-family:akkurat;
	line-height:40px;
	font-size:15px;
}
.internal-page #site-header #site-nav .active {
	padding-left:15px;
	background:url(../images/active-menu-marker.png) 0 15px no-repeat;
}
.internal-page #site-header #site-nav .active a, .internal-page #site-header #site-nav a:hover {
	color:#ff4002;
}
.internal-page #site-header #site-nav .home a {
	background:url(../images/home-icon.png) 0 12px no-repeat;
	width:14px;
	height:40px;
	display:block;
}
.internal-page #site-header #site-nav .home.active a {
	background-image:url(../images/home-icon-active.png);
}
.internal-page #site-header #site-nav .account {
	padding-right:50px;
	padding-left:40px;
	background:url(../images/account-gear-icon.png) 100% 2px no-repeat;
}
.internal-page #site-header #site-nav .account a {
	text-transform:uppercase;
	color:#ff4002;
	font-size:13px;
}

.internal-page h2 {
	text-align:center;
	line-height:90px;
	font-size:28px;
	text-transform:uppercase;
	background-color:#FFF;
}

.internal-page #site-content {
	background-color:#f6f6f4;
}

.internal-page #site-footer {
	background-color:#2c2b28;
	
}

.internal-page #site-footer li {
	border-top:1px solid #565553;
	height:32px;
	display:block;
	text-align:left;
	width:254px;
	color:#fff;
}

.internal-page #site-footer li a {
	color:#fff;
	line-height:32px;
	text-decoration:none;
	font-family:akkuratB;
	font-weight:normal;
}

.internal-page #site-footer .contact li {
	width:200px;
	margin-right:30px;
}

.internal-page #site-footer .contact li a, .internal-page #site-footer li a:hover {
	color:#ff4002;
}

.internal-page #site-footer .follow-us .label {
	line-height:42px;
	display:block;
	height:42px;
	font-weight:normal;
	color:#FFF;
}

.internal-page #site-footer .social-media li,
.internal-page #site-header.main-layout .social-media li {
	width:42px;
	border-width:0;
}

.internal-page #site-footer .social-media li a,
.internal-page #site-header.main-layout .social-media li a {
	width:100%;
	height:42px;
	display:block;
	background:url(../images/social-icons-white.png) 0 0 no-repeat;
	text-decoration:none;
}

.internal-page #site-footer .social-media li a.twitter,
.internal-page #site-header.main-layout .social-media li a.twitter {
	background-position:-53px 0;
}

.internal-page #site-footer .social-media li a.pinterest,
.internal-page #site-header.main-layout .social-media li a.pinterest {
	background-position:-106px 0;
}

.internal-page #site-footer .social-media li a.instagram,
.internal-page #site-header.main-layout .social-media li a.instagram {
	background-position:-159px 0;
}

.internal-page #site-footer .omega {
	float:right;
	
}

.internal-page #site-footer .omega .account {
	padding-right:60px;
	background:url(../images/account-gear-icon-white.png) 100% 0 no-repeat;
	height:50px;
	line-height:45px;
	display:block;
	text-transform:uppercase;
	color:#FFF;
	text-decoration:none;
	font-size:12px;
	font-family:akkuratB;
	font-weight:normal;
}

.internal-page #site-header.main-layout #site-logo {
	width:112px;
	margin:0 auto;
}

.internal-page #site-header.main-layout {
	padding-top:26px;
	position:relative;
}

.internal-page #site-header.main-layout .sub {
	font-size:15px;
	padding:20px 0;
}

.internal-page #site-header.main-layout .sub:after {
	content: ' ';
	display:block;
	width:107px;
	border-bottom:1px solid #666666;
	margin:0 auto;
}

.internal-page #site-header.main-layout #site-nav {
	padding:20px 0;
	float:none;
}

.internal-page #site-header.main-layout a.account {
	position:absolute;
	top:20px;
	right:20px;
	color:#FFF;
	font-size:12px;
	font-family:akkurat;
	padding-right:60px;
	line-height:50px;
	text-decoration:none;
	text-transform:uppercase;
	background:url(../images/account-gear-icon-white.png) 100% 0 no-repeat;
}

.internal-page #site-header.main-layout .social-media {
	position:absolute;
	left:20px;
	top:20px;
}

.internal-page #site-header.main-layout .social-media .label {
	font-family:akkurat;
	font-size:12px;
	text-transform:uppercase;
	line-height:45px;
}

.internal-page #site-header.main-layout .social-media li a {
	background:none;
	background:url(../images/social-icons-grey.png) 0 0 no-repeat;
}


/*Splash Page*/
#splash-page #site-content > .container {
	width:960px;
	margin-top:30px;
	border:1px solid #e8e7e7;
	border-bottom:none;
	border-top:none;
	padding-bottom:100px;
	padding-top:15px;
}

#splash-page #site-content > .container h4 {
	text-align:center;
	font-size:15px;
	line-height:60px;
	color:#363636;
	font-family:akkuratB;
}

#splash-page .follow-us {
	width:380px;
}

#splash-page .notify-me {
	width:580px;
}

#splash-page .follow-us .container {
	width:200px;
	
}

#splash-page .social-media a {
	display: block;
	width:42px;
	height:42px;
	text-decoration:none;
	background:url(../images/social-icons.png) 0 0 no-repeat;
}

#splash-page .social-media a.twitter {
	background-position:-53px 0;
}

#splash-page .social-media a.pinterest {
	background-position:-106px 0;
}

#splash-page .social-media a.instagram {
	background-position:-159px 0;
}

#splash-page .notify-me .form .email-field {
	border:1px solid #ccc;
	border-right-width:0;
	border-left-width:0;
	width:360px;
}

#splash-page .notify-me .form {
	height: 40px;
	width:468px;
}

#splash-page .notify-me .form label {
	line-height: 40px;
	text-transform:uppercase;
	font-size:17px;
	color:#363636;
	text-align: center;
	width:120px;
	font-family:dinnC;
}

#splash-page .notify-me .form input[type=email] {
	border-width:0;
	box-shadow:none;
	background-color:#eeeeeb;
	height:40px;
	width:240px;
	padding:0;
}

#splash-page .notify-me .form .button {
	background-color:#ff4002;
	width:68px;
}

/*Homepage*/
#home-page #site-content {
	background-color:#FFF;
}
#homepage-slider {
	background-color:#FFF;
	margin: 0 auto;
	overflow:hidden;
}
#homepage-slider p {
	font-family:dinnLC;
	text-transform:uppercase;
}
#homepage-slider .label {
	line-height:40px;
	font-size:21px;
	color:#333;
}
#homepage-slider .name, #homepage-slider .highlight {
	font-size:80px;
	line-height:70px;
	color:#222;
}
#homepage-slider .highlight {
	color:#ff3a02;
}
#homepage-slider .decorated-block {
	margin-top:70px;
}
#homepage-slider .decorated-block:after {
	margin-top:40px;
}
#homepage-slider .decorated-block:before {
	margin-bottom:40px;
}
#homepage-slider .info .button-row a {
	width:50px;
}

#home-page .more-links {
	background-color:#f6f5f4;
	padding-bottom:80px;
	padding-top:6px;
}
#home-page .more-links h4 {
	font-size:27px;
	font-family:dinCR;
	text-transform:uppercase;
	margin:35px 0;
}

#home-page .more-links .new h4 {
	color:#ff4002;
}

#home-page .more-links li {
	margin:0 1px;
}

#home-page .more-links .info {
	background-color:#2c2b28;
	color:#FFF;
	font-family:akkurat;
	text-align:center;
	padding:15px 10px 18px;
	font-size:16px;
	line-height:20px;
}

#home-page .more-links p.name {
	text-transform:uppercase;
}

#home-page .more-links img {
	display:block;
}

#home-page .more-links .button {
	width:50px;
	margin:15px auto 0;
	background-color:#f6f5f4;
	color:#363636;
	font-family:akkurat;
	font-size:16px;
}

#home-page .more-links .news .button {
	background-color:#ff4002;
	color:#FFF;
}

#home-page .more-links {}

/*Jquery tabs override*/
.ej-tabs.ui-widget-content {
	border-width:0;
	background:none;
}

.ej-tabs .ui-widget-header {
	background:none;
	border-width:0;
	padding:0;
}

.ej-tabs.ui-tabs {
	padding:0;
}

.ej-tabs.ui-tabs .ui-tabs-nav {
	position:relative;
	z-index:1;
}

.ej-tabs.ui-tabs .ui-tabs-nav li {
	margin:0;
	border-radius:0;
	border-left-width:0;
	background:none;
	margin-top:7px;
	border-color:#a2a2a1;
}

.ej-tabs.ui-tabs .ui-tabs-nav li a {
	font-family:dinnLC;
	text-transform:uppercase;
	font-size:24px;
	padding:16px 24px 10px;
	line-height:24px;
	display:block;
	background-color:#FFF;
	color:#000;
	
}

.ej-tabs.ui-tabs .ui-tabs-nav li.ui-state-active {
	margin-top:0;
}

.ej-tabs.ui-tabs .ui-tabs-nav li.ui-state-active a {
	color:#ff4002;
	font-size:27px;
	padding:18px 24px 13px;
	line-height:27px;
	background-color:#f6f6f4;
	
}

.ej-tabs.ui-tabs .ui-tabs-panel {	
	margin-top:-2px;
	padding-top:0;
}

.ej-tabs.ui-tabs .ui-tabs-panel .container {
	border-top:1px solid #a2a2a1;
}

.ej-tabs.ui-tabs .ui-tabs-panel .container .centerme.form {
	width:442px;
}

.ej-tabs.ui-tabs .ui-tabs-panel .container .centerme.form h3 {
	color:#ff4002;
	font-size:28px;
	line-height:72px;
}

/*BJQS Overrides*/
.bjqs-controls li a {
	background:url(../images/slider-arrows.png) 0 0 no-repeat;
	width:22px;
	height:40px;
	display:block;
	text-decoration:none;
}

.bjqs-controls li.bjqs-next a {
	background-position:-200px 0;
}

.bjqs-controls li.bjqs-prev a:hover {
	background-position:-100px 0;
}

.bjqs-controls li.bjqs-next a:hover {
	background-position:-300px 0;
}

/*Forms and buttons*/
.form .row {
	height:40px;
	border:1px solid #c5c5c3;
	border-left-width:0;
	border-right-width:0;
	margin-top:-1px;
}

.form .row label {
	text-transform:uppercase;
	font-family:dinnLC;
	line-height:40px;
	width:150px;
	padding-left:16px;
	color:#363636;
	font-size:17px;
}

.form .row input {
	border-width:0px;
	box-shadow:none;
	background-color:#eeeeeb;
	height:40px;
	width:255px;
	padding:0 10px;
	font-family:Arial;
	font-weight:normal;
	color:#363636;
	font-size:16px;
	float:right;
}

.button-row {
	padding:40px 0;
	margin: 0 auto;
}

.button, a.button {
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	height:42px;
	background-color:#a3a197;
	padding-left:10px;
	padding-right:10px;
}

.primary.button {
	background-color:#363636;
}

.button .text, a.button {
	color:#FFF;
	text-align:center;
	text-transform:uppercase;
	line-height:42px;
	font-family:akkuratB;
	font-size:13px;
}

a.button {
	text-decoration:none;
	display:block;
}


/*Modal overrides*/
.ui-widget-overlay {
	background:transparent url(images/ui-bg_flat_90_000000_40x100.png) repeat;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  /* Netscape */
  -moz-opacity: 1;
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Good browsers */
  opacity: 1;
}

.ej-modal {
	display:none;
}

.ej-modal.ui-dialog.ui-corner-all {
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

.ej-modal .ui-widget-header {
	border-width:0;
	background:none;
}

.ej-modal .ui-widget-header .ui-dialog-title {
	color:#ff4002;
	font-family:dinnLC;
	font-size:28px;
	text-align:center;
	font-weight:normal;
	line-height:36px;
	padding:20px 0;
}

.ej-modal .ui-widget-header .ui-button.ui-dialog-titlebar-close {
	border-width:0;
	background:none;
	top:22px;
	right:24px;
	margin:0;
	padding:0;
}

.ej-modal .ui-widget-header .ui-button.ui-dialog-titlebar-close .ui-icon {
	width:22px;
	height:22px;
	background-image:url(../images/modal-close-button.png);
	background-position:0 0;
}

.ej-modal .form .row label {
	width:210px;
}
