/*Colors*/
$orange: #ff4002;
$bdcolor: #c5c5c3;


/* Font Family */
@mixin include_font($family, $path) {
	@font-face {
		font-family: "#{$family}";
		src: url("#{$path}.eot");
		src: local('?'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}

/* Cross Browser Mixins */
@mixin border_radius($radius, $corner: '') {
	border#{$corner}-radius:$radius;
	-webkit-border#{$corner}-radius:$radius;
	-moz-border#{$corner}-radius:$radius;
}

/* Cross Browser Gradient */
@mixin linear_gradient($start_color, $end_color) {
	background: $start_color; /* Old browsers */
	background: -moz-linear-gradient(top,  $start_color 0%, $end_color 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start_color), color-stop(100%,$end_color)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $start_color 0%,$end_color 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $start_color 0%,$end_color 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $start_color 0%,$end_color 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $start_color 0%,$end_color 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start_color}', endColorstr='#{$end_color}',GradientType=0 ); /* IE6-9 */
}

/* Cross Browser Opacity */
@mixin opacity($trans) {
  filter: alpha(opactiy=($trans * 100));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}

@mixin font_trebuchet {
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}

@mixin placeholder_color($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
      color:    $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    $color;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    $color;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    $color;
  }

}

@mixin default-style
{
  /*referred from http://yui.yahooapis.com/2.9.0/build/base/base-min.css */
  .default-style
  {
    font-size: 100%;
    h1{font-size:138.5%}
    h2{font-size:123.1%}
    h3{font-size:108%}
    h1,h2,h3{margin:1em 0}
    h1,h2,h3,h4,h5,h6,strong,dt{
     font-weight:bold;
    }
    optgroup{font-weight:normal}
    abbr,acronym{border-bottom:1px dotted #000;cursor:help}
    em{font-style:italic}
    del{text-decoration:line-through}
    blockquote,ul,ol,dl{margin:1em}
    ol,ul,dl{margin-left:2em}
    ol{list-style:decimal outside}
    ul{list-style:disc outside}
    dl dd{margin-left:1em}
    th,td{border:1px solid #000;padding:.5em}
    th{font-weight:bold;text-align:center}
    caption{margin-bottom:.5em;text-align:center}
    sup{vertical-align:super}
    sub{vertical-align:sub}
    p,fieldset,table,pre{margin-bottom:1em}
    button,input[type="checkbox"],input[type="radio"],input[type="reset"],input[type="submit"]{padding:1px}
    img{-ms-interpolation-mode:bicubic}
  }
}